body{
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  background-color: azure;
}

.row{
  background-color: blanchedalmond;
  height: 100vh;
}

.card-subtitle, .subject{
  font-weight: bold;
  background-color: rgba(66, 46, 16, 0.562);
  border-radius: 10px;
}

.card-title, .contact{
  background-color: rgba(223, 153, 49, 0.562);
  border-radius: 10px;
  padding: 5px;
}

@media only screen and (max-width: 1270px){
  .col1{
    display: none;
  }
}

.mail-icon{
  width: 2em;
  height: 2em;
}

.search-bar{
  min-width: 60vw;
}

.col1, .col2, .col3{
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
  }

.navbar{
    min-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

.card-body{
  border-bottom: 1px solid black;
  padding: 5px;
}

.list-group{
  display: flex;
  width: 15rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.list-group.item{
  width: 15em;
}

.compose:{
  border: 3px solid red;
  margin-top: 45px;
}

li:hover{
  opacity: 0.6;
}

.beach-home{
  height: 40vh;
  width: 40vw;
  padding: 20px;
}

/* $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
  ); */